@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
}

a.ant-btn,
button.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Contacts Tab  */
.contacts-tab {
  height: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.contacts-tab .ant-tabs-nav-list {
  height: 100%;
}

.contacts-tab .ant-tabs-nav {
  width: 350px;
}

.contacts-tab .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 !important;
}

.contacts-tab .ant-tabs-tab-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.contacts-tab .ant-tabs-tab {
  padding: 15px 25px !important;
}

.contacts-tab .ant-tabs-tab:hover {
  background-color: rgb(243, 244, 246);
  color: inherit;
}

.contacts-tab .ant-tabs-tab-active {
  background-color: rgb(239, 246, 255);
}

.contacts-tab .ant-tabs-tab-active:hover {
  background-color: rgb(239, 246, 255);
}

.contacts-tab .ant-tabs-tabpane {
  padding-left: 0 !important;
}

.popover-reaction .ant-popover-inner {
  border-radius: 99px;
  padding: 8px;
}
