[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymysql = "*"
pygments = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
django-filter = "*"
markdown = "*"
mysqlclient = "*"
cryptography = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
